<!--
<ion-header>

</ion-header>
-->

<ion-content padding>


  <form #formCtrl="ngForm">
    <div align="left" *ngIf="formCtrl.form.valid">
    <div class="username-container">
      <img class="profile-image" align=middle class="profile-image" src="../../../assets/img/profile.jpg">

      <p class="username">Ronit Oren</p>

    </div>

      <div class="follow-container">
        <div (click)="stalk()" class="follow btn-action">
          Stalk {{stalkCount}}
        </div>
        <div class="runaway btn-action">
          Run Away
        </div>
      </div>

      <div class="buffer">
        <div class="harmaners-container">
          Harmaners
        </div>
      </div>
    </div>

    <div class="container-grid">
      <div class="item-container" *ngFor="let user of (users | async)?.users" [ngStyle]="{ 'background-image': 'url(' + user.picUrl + ')'}">
        <div class="label-container">
          <div class="text">{{user.name}}</div>
          <div class="checkbox-container" >
            <ion-checkbox (click)="checkboxClick(user.name)" > </ion-checkbox>

          </div>
        </div>

      </div>
    </div>



  </form>
</ion-content>



